:root {
    --hue-neutral: 220;
    --hue-wrong: 0;
    --hue-correct: 200;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #680e74, #080c14);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
    justify-content: center;
}

.btn {
    --hue: var(--hue-neutral);
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    padding: 15px 30px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 15px 30px;
    margin: 10px;
    transition: all 0.3s ease;
}

.start-btn:hover, .next-btn:hover {
    background-color: #fff;
    color: #0f1626;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.question, h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.logo {
    margin-bottom: 30px;
}